/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the application for the bbc_microbit_v2 board.
 */

/ {
	/*
	 * Give an alias to the accelerometer to be used in the "accel" lib.
	 */
	aliases {
		accel = &lsm303agr_accel;
	};

	/*
	 * Define a node of the custom "custom-ledmatrix" binding that contains GPIO
	 * information from the 5x5 LED matrix. Provide the same GPIO pins as the
	 * "led_matrix" node in the bbc_microbit_v2 board devicetree source file.
	 */
	ledmatrix_label: custom_ledmatrix {
		compatible = "custom-ledmatrix";
		status = "okay";
		led-row-gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>,
			            <&gpio0 22 GPIO_ACTIVE_HIGH>,
			            <&gpio0 15 GPIO_ACTIVE_HIGH>,
			            <&gpio0 24 GPIO_ACTIVE_HIGH>,
			            <&gpio0 19 GPIO_ACTIVE_HIGH>;
		led-col-gpios = <&gpio0 28 GPIO_ACTIVE_LOW>,
			            <&gpio0 11 GPIO_ACTIVE_LOW>,
			            <&gpio0 31 GPIO_ACTIVE_LOW>,
			            <&gpio1 5 GPIO_ACTIVE_LOW>,
			            <&gpio0 30 GPIO_ACTIVE_LOW>;
	};
};

/*
 * Configure the accelerometer via the lis2dh (i2c) binding. Here as an example,
 * simply repeat one of the default config.
 */ 
&lsm303agr_accel {
	anym-mode = <0>;
};
